/*start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    color:#eee
}

body{
    width: 100%;
    height: 100%;
    background:var(--bg-color);
        /*url("../OtterPlaceholder/sitebg.jpg") no-repeat center;*/
    background-size: cover;
}

section{
    padding:6rem;
}

a{
    text-decoration:none;
    color:#fff;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width:100%;
}

:root {
    --y:#eee;
    --p:#0496FF;
    --bg:#00487C;
    
    --contact-bg:var(--bg);
    --bg-color:var(--bg);
    
    --menu-drop:#7371FC;
    --icon-border:var(--y);
    --icon-background:var(--p);
    --icon:var(--y);
    --hyper:#3883ff;
    --hyper-hover:#2f67cd;
    
    --timeline-left:var(--y);
    --timeline-border:var(--p);
    --timeline-fill:#313534;
    
    --dunno:#eee;
    --submit-button:var(--p);
    --submit-hover:var(--y);
    --copyright-bg:#16162d;
    --arrow-fill:#eee;
    --arrow-character:#000;
    --pulser:rgba(253, 87, 191, 0.99);
    
    --ver-gradient:linear-gradient(to top, var(--y), var(--p));
    
    --hor-gradient:linear-gradient(to right, var(--y), var(--p));
}
/*end global*/


/*start reuseable*/
.container{
    width: 90%;
    max-width:120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
    
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1:before,
.section-heading h1:after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(255,255,255,0.75);
    
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom:-1.1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight:300;
}

.has-margin-right{
    margin-right: 5rem;
}
/*end reuseable*/


/*start header*/
header{
    width:100%;
    height:100vh;
}

.top-nav{
    width:100%;
    height:100vh;
    position:fixed;
    top: -100vh;
    z-index: 50;
    background-color:var(--menu-drop);
    border-bottom-right-radius:100%;
    border-bottom-left-radius:100%;
    transition:all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style:none;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: 'The Historia Demo', sans-serif;
    font-size: 5vw; 
    padding:1rem;
}
/* doesn't work 
.nav-link:hover,
.nav-link:focus{
    background: ;
    -webkit-background-clip:text;
    color:transparent;
}
*/

.top-nav.open{
    top:0;
    border-radius:initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    z-index:1500;
    transition:transform 650ms ease-out;
}

.menu-toggler.open{
    transform:rotate(-45deg);
}

.bar{
    background: var(--hor-gradient);
    width:100%;
    height:4px;
    border-radius:.8rem;
}

.bar.half{
    width:50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
    
}

.open .bar.start{
    transform:rotate(-450deg) translateX(.8rem);
}
.bar.end{
    align-self:flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.end{
    transform:rotate(-450deg) translateX(-.8rem);
    
}

.landing-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    text-align:center;
    z-index:1;
}

.landing-text h1{
    font-size: 20rem;
    font-family:'The Historia Demo', sans-serif;
    background: var(--ver-gradient);
    -webkit-background-clip:text;
    color:transparent;
    padding: 1rem;
    user-select:none;
}

.landing-text h6{
    font-size:2rem;
    font-weight:300;
}
/*end header*/


/*start about*/
.about .container{
    display:flex;
    align-items: center;
    justify-content:center;
}
.about-heading{
    text-align:center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 2rem;
    font-weight:300;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex:1;
}

.socail-media{
    margin-top: 5rem;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}

.fa-linkedin:hover{
    color:#4267b2;
}

.fa-reddit-square:hover{
    color:orangered;
}

.fa-steam-square:hover{
    color:black;
}

/*end about*/


/*start services*/
.icon-section{
    margin:auto;
    align-items: center;
    display:flex;
    justify-content: center;
}

@media only screen and (max-width:700px) {
    .icon-section {
        display:contents;
  }
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:2rem;
}

.skill h1{
    text-transform:uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}
.icon-container{
    width:10rem;
    height: 10rem;
    border: 3px solid var(--icon-border);
    background-color: var(--icon-background);
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i{
    color:var(--icon);
    font-size:5rem;
    margin:auto;
    transform: rotate(-45deg);
}


/*end services*/

/*start portfolio*/

.portfolio-item{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 5rem;
}

.portfolio-item last-child{
    margin-bottom: 0;
}

.profile-img{
    width: 50rem;
    flex:1;
}

.portfolio-description{
    margin-bottom: 0;
}

.portfolio-description h1{
    font-size: 3rem;
    font-weight:300;
    margin: 1rem 0;
}

.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight:300;
    opacity: 0.3;
}

.portfolio-description p{
    margin-bottom: 2rem;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top:2.5rem;
    font-size:1.5rem;
    text-transform:uppercase;
    color:var(--hyper);
    transition: color 650ms;
}

.portfolio-description .cta:hover{
    color: var(--hyper-hover);
}

.portfolio-description .github-button{
    margin-top:2.5rem;
    border:5px;
    color:cyan;
    border-top: 9rem;
}

/*end services*/


/*start timeline*/
.timeline ul{
    border-left: 4px solid var(--timeline-left);
    border-radius: .8rem;
    background-color: rgba(0,0,0,0,0.05);
    margin:auto;
    position:relative;
    list-style:none;
    text-align:left;
    width:70%;
}

.timeline h1{
    font-size: 2rem;
    text-transform:uppercase;
    font-weight:300;
    margin-bottom:1rem;
    opacity: .3;
}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    margin-bottom:1rem;
    padding-bottom: 1rem;
    position:relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top:50%;
    transform: translateY(0%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -16rem;
    text-align:right;
    min-width:12rem;
    font-size:1.5rem;
}


.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px var(--timeline-border);
    border-radius: 100%;
    left: -3rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color:var(--timeline-fill);
}

/*end timeline*/

/*start contact*/

.contact{
    background-color:var(--contact-bg);
}

.form{
    width: 70%;
    margin: 0 auto;
}

.form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width:100%;
    padding: 1rem;
    margin-bottom: 5px;
    border:none;
    outline-color:var(--dunno);
}


input[type="submit"]{
width: inital;
background-color: var(--submit-button);
color:#eee;
padding: 1rem 2rem;
border-radius:.8rem;
cursor: pointer;
transition: background-color 650ms;
}

input[type="submit"]:hover{
    color: #221e3f;
    background-color: var(--submit-hover);
}
/*end contact*/


/*start footer*/
.copyright{
    width:100%;
    text-align:center;
    background-color: var(--copyright-bg);
    padding:2rem 0;
    position: relative;
}
.up{
    position: absolute;
    width:5rem;
    height:5rem;
    background-color:var(--arrow-fill);
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation:pulse 2s infinite;
}

.up i{
    color:var(--arrow-character);
    font-size; 2rem;
    margin: auto;
}

.copyright p{
font-size: 1.4rem;
}

/*end footer*/

/*start animation*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 var(--pulse);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*end animation*/